.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items in the first row */
  gap: 1rem; /* Space between items */
  padding: 1rem;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 items in the first row */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items in the second row on smaller screens */
  }
}
